h1 {
  font-size: 100px;
  text-align: center;
}


.animals img{
  height: 80px;
  width: 120px;
  border-bottom: black solid 2px;
}

.main {
  position: relative;
}
.bongo{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 300px;
  left: 920px;
}
.bear{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 500px;
  left:300px;
}
.bushdog{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 300px;
  left:550px;
}
.lemur{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 200px;
  left:1100px;
}
.leopard{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 500px;
  left:850px;
}
.lion{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 550px;
  left:1300px;
}
.beluga{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom:10px;
  left:1300px;
}
.dibbler{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 100px;
  left: 1450px;
}
.whale{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 50px;
  left: 300px;
}
.seal{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 700px;
  left: 850px;
}
p {
  line-height: 2px;
}
.science {
  font-size: 12px;
}
.names {
  font-weight: bold;
}
