h1 {
  font-size: 110px;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-weight: lighter;
  position: absolute;
  bottom: 950px;
  left: 200px;
}
.animals img{
  height: 80px;
  width: 120px;
  border-bottom: black solid 2px;
}
.main {
  position: relative;
  padding-top: 250px;
}
.bongo{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 300px;
  left: 920px;
}
.bongo::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  right: 100px;
  position: absolute;
}
.bear{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 420px;
  left:250px;
}
.bear::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.bushdog{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 250px;
  left:550px;
}
.bushdog::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.lemur{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 190px;
  left: 1090px;
}
.lemur::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  right: 110px;
  position: absolute;
}
.leopard{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 500px;
  left:850px;
}
.leopard::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.lion{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 450px;
  left:1200px;
}
.lion::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.beluga{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom:10px;
  left:1300px;
}
.beluga::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.dibbler{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 100px;
  left: 1450px;
}
.dibbler::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.whale{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 50px;
  left: 300px;
}
.whale::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
.seal{
  width: 120px;
  height: 160px;
  text-align: center;
  display: block;
  border: 2px solid black;
  position: absolute;
  bottom: 700px;
  left: 850px;
}
.seal::after {
  content: url(../img/pin.jpg);
  bottom: 140px;
  left: 80px;
  position: absolute;
}
p {
  line-height: 2px;
}
.science {
  font-size: 12px;
}
.names {
  font-weight: bold;
}
